@import "../../shared/variables";

#navbar-options {
  display: flex;
  align-items: center;
  background-color: $dark-color;
  margin-bottom: 0.5rem;
  justify-content: space-evenly;
  button {
    flex: 1 0;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    padding: 1.2rem 1.3rem;
    color: $main-color;
    background: $dark-color;
    border: 0.5px solid $secondary-color;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: 0;

    opacity: 1;
    &.active {
      background-color: $main-color;
      color: $bright-color;
      pointer-events: none;
    }
    &:hover {
      color: $bright-color;
      background: $main-color;
      border-bottom: none;
    }
    &[disabled] {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
